@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, awesome!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*inline expression*@
@{
    var amount = 1 + 1;
}
<Counter IncrementAmount="amount" />

<Counter IncrementAmount="1+1" />
